<ion-header>
    <ion-navbar color="danger">


        <ion-title>
            Selection
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let inscription of inscriptions">
            <panier-card [inscription]="inscription"></panier-card>
        </ion-item>
    </ion-list>
    <br/><br/><br/>
    <div text-center>
        <button ion-button large color="danger" [disabled]="inscriptions.length==0 || inscriptions.length>3"
                (click)="naviguer()">Valider
        </button>
        <div *ngIf="inscriptions.length>3">Le nombre d'inscription est limité à 3.</div>
    </div>

</ion-content>

<ion-footer text-center>
    <ion-toolbar color="danger">
        <ion-icon style="font-size:25px" name="logo-facebook"></ion-icon>
        <ion-icon style="font-size:25px" name="logo-linkedin"></ion-icon>
        <ion-icon style="font-size:25px" name="logo-youtube"></ion-icon>
        <ion-icon style="font-size:25px" name="logo-twitter"></ion-icon>
    </ion-toolbar>
</ion-footer>