<ion-content padding>
	<div padding>
		<p ion-text color="primary" floating>Etudiant(s) ou personnel(s) inscrit(s) à l'activité : </p>
		<form #f="ngForm" (ngSubmit)="ListeEffectifForm(f.value)">
			<ion-grid>
				<ion-row *ngFor="let inscrit of listeEffectif1">
					<ion-col>
						<ion-item>
							<p ion-text>{{inscrit}}</p>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>
			<button ion-button [disabled]="!f.valid || valider" type="submit" block>Valider</button>
		</form>
		<button ion-button (click)="goback()" block>Retour</button>
	</div>
</ion-content>



<!--
<ion-content padding>
	<div padding>
		<p ion-text color="primary" floating>Etudiant(s) ou personnel(s) inscrit(s) à l'activité: </p>
		<form (ngSubmit)="ListeEffectifForm()">
			<ion-item>
				<ion-label color="primary" floating>Nom(s) : </ion-label>
				<ion-select [(ngModel)]="listeEffectif.choixListeEffectif" name="choixListeEffectif" okText="Ok" cancelText="Annuler" multiple="true">
					<ion-option *ngFor="let inscrit of listeEffectif1">{{ inscrit }}</ion-option>
				</ion-select>
			</ion-item>
			<button ion-button type="submit" block>Désinscrire</button>
			<button ion-button (click)="goback()" block>Retour</button>
		</form>
	</div>
</ion-content>
-->
