<ion-content padding>
  <div padding>
    <p ion-text color="primary" floating>Personnes inscrits au créneau : </p>
    <ion-grid>
      <ion-row>
        <ion-col>Nom</ion-col>
        <ion-col>Prenom</ion-col>
        <ion-col>Telephone</ion-col>
        <ion-col>Option Sport</ion-col>
        <ion-col>Nombre d'heure</ion-col>
      </ion-row>
      <ion-row *ngFor="let inscription of inscriptions">
        <ion-col>
          {{inscription.personne.nom}}
        </ion-col>
        <ion-col>
          {{inscription.personne.prenom}}
        </ion-col>
        <ion-col>
          {{inscription.personne.telephone}}
        </ion-col>
        <ion-col>
          <ng-container *ngIf="inscription.demande">
            Option Sport
          </ng-container>
        </ion-col>
        <ion-col>
          <ng-container *ngIf="inscription.demande">
            {{inscription.nombreHeures}}
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button (click)="goback()" block>Retour</button>
  </div>
</ion-content>


<!--
<ion-content padding>
	<div padding>
		<p ion-text color="primary" floating>Etudiant(s) ou personnel(s) inscrit(s) à l'activité: </p>
		<form (ngSubmit)="ListeEffectifForm()">
			<ion-item>
				<ion-label color="primary" floating>Nom(s) : </ion-label>
				<ion-select [(ngModel)]="listeEffectif.choixListeEffectif" name="choixListeEffectif" okText="Ok" cancelText="Annuler" multiple="true">
					<ion-option *ngFor="let inscrit of listeEffectif1">{{ inscrit }}</ion-option>
				</ion-select>
			</ion-item>
			<button ion-button type="submit" block>Désinscrire</button>
			<button ion-button (click)="goback()" block>Retour</button>
		</form>
	</div>
</ion-content>
-->
