<ion-content padding>
  <div padding>
    <p ion-text color="primary" floating>Etudiant(s) ou personnel(s) en attente d'inscription à l'activité : </p>
    <form #f="ngForm" (ngSubmit)="ListeAttenteForm()">
      <ion-list>
        <ion-list-header>
          <ion-row>
            <ion-col>Nom</ion-col>
            <ion-col>Prénom</ion-col>
            <ion-col>Accepter</ion-col>
            <ion-col>ECTS</ion-col>
            <ion-col>Nombre d'heures</ion-col>
          </ion-row>
        </ion-list-header>
        <ion-item *ngFor="let inscription of listeInscription">
          <ion-label>
            <ion-row>
              <ion-col>{{inscription.personne.nom}}</ion-col>
              <ion-col>{{inscription.personne.prenom}}</ion-col>
              <ion-col>
                <ion-item no-lines>
                  <ion-toggle [ngModel]="!inscription.enAttente"
                              (ionChange)="inscription.enAttente=!inscription.enAttente" name="enAttente"></ion-toggle>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-lines *ngIf="inscription.demande">
                  <ion-input type="number" placeholder="ECTS" (ngModel)="inscription.ects" name="ects" clearInput
                             [required]="!inscription.enAttente"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item no-lines *ngIf="inscription.demande">
                  <ion-input type="number" placeholder="Nombre d'heures" (ngModel)="inscription.nombreHeures"
                             name="nbHeures"
                             clearInput
                             [required]="!inscription.enAttente"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-list>
      <button ion-button [disabled]="!f.valid" type="submit" block>Valider</button>
    </form>
    <button ion-button (click)="goback()" block>Retour</button>
  </div>
</ion-content>
<!--

      <ion-list>
        <ion-item *ngFor="let inscrit of listeInscrit1">
          <ion-label color="primary">{{ inscrit }}</ion-label>
          <ion-toggle ngModel name="nom" required></ion-toggle>
          <ion-label color="primary">UE</ion-label>
          <ion-toggle ngModel name="ue" required></ion-toggle>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label color="primary" floating>Nom(s) : </ion-label>
        <ion-select [(ngModel)]="listeAttente.choixListeAttente" name="choixListeAttente" okText="Ok" cancelText="Annuler" multiple="true">
          <ion-option *ngFor="let inscrit of listeInscrit1">{{ inscrit }}</ion-option>
        </ion-select>
      </ion-item>

      -->
