<html>
<body>

<p>

    Bonjour, <br/>
    <br/>
    Une demande d'inscription aux activités sportives du SUAPSE a été effectuée, voici le résumé :<br/>
    <br/>
    Informations personnelles :<br/>
    ${personne.nom} ${personne.prenom} <br/>
    ${personne.adresse} <br/>
    ${personne.email} - ${personne.telephone} <br/>
    <br/>
    Activités demandées : <br/>
<ul>
    #foreach ($i in $inscriptions)
        #set ($c = $i.creneau)
        <li>
            ${c.activite.nom} <br/>
            le $c.jour, de $c.heureDebut à $c.heureFin <br/>
            $c.lieu.nom à $c.lieu.ville <br/>
            encadré par $c.responsable.nom $c.responsable.prenom <br/>
        </li>
    #end
</ul>
<br/>
Pieces à fournir : <br/>
<ul>
    #foreach($p in $pieceInscriptions)
        <li> $p.nom </li>
    #end
</ul>
<br/>
Un chèque de ${personne.categoriePersonne.prix} €. <br/>
<br/>
Pour valider l'inscription, merci d'ajouter la demande aux adhésions via l'application de gestion des sports. <br/>
<br/>
<br/>
Ceci est un mail automatique, merci de ne pas répondre. <br/>
</p>
</body>
</html>