<html>
<body>
Bonjour,

Votre demande d'inscription aux activités sportives SUAPSE a été acceptée.

Rappel des informations:

Informations personnelles :
{{nom}} {{prenom}}
{{adresse}}
{{email}} - {{telephone}}

[ng for]
Activités :
{{nom activité}}
le {{jour activité}}, de {{heure debut}} à {{heure fin}}
{{lieu}}
encadré par {{responsable nom}}

Pour valider l'inscription, merci de vous présenter au secrétariat SUAPSE, bureau 114 du pôle STAPS avec :
{{liste pieces}}
un chèque de {{prix}} à l'ordre de l'agent comptable de l'université d'Orléans.


Ceci est un mail automatique, merci de ne pas répondre.


SUAPSE/Pôle STAPS du Collegium ST
2 Allée du Château – BP 6237
45 062 ORLEANS Cedex 2
Secrétariat : Mme Marie-Charlotte Baret - bureau 114 (permanence mercredi et jeudi 9h à 12h)
02 38 49 47 40
Directeur : Mr Olivier Pinault - bureau 117
02 38 49 46 34
suapse@univ-orleans.fr
</body>
</html>