<form *ngIf="creneau" #f="ngForm" (ngSubmit)="modificationCreneauForm()">
  <ion-item>
    <ion-label color="primary" floating>Activité :</ion-label>
    <ion-select [(ngModel)]="creneau.activite" name="activite" okText="Ok" cancelText="Annuler"
                required [compareWith]="compareRef">
      <ion-option *ngFor="let activite of activites" [value]="activite">{{activite.nom}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Responsable :</ion-label>
    <ion-select [(ngModel)]="creneau.responsable" name="responsable" okText="Ok" cancelText="Annuler" required
                [compareWith]="compareRef">
      <ion-option *ngFor="let responsable of responsables" [value]="responsable">{{ responsable.nom }}
        {{responsable.prenom}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Jour :</ion-label>
    <ion-select [(ngModel)]="creneau.jour" name="jour" okText="Ok" cancelText="Annuler" required>
      <ion-option *ngFor="let jour of jours; index as i" [value]="i">{{ jour|dayOfWeek }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Heure de début :</ion-label>
    <ion-datetime [(ngModel)]="creneau.heureDebut" name="heureDebut" displayFormat="HH:mm" required></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Heure de fin :</ion-label>
    <ion-datetime [(ngModel)]="creneau.heureFin" name="heureFin" displayFormat="HH:mm" required></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Effectif :</ion-label>
    <ion-input [(ngModel)]="creneau.effectif" name="effectif" type="number" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Niveau :</ion-label>
    <ion-select [(ngModel)]="creneau.niveau" name="niveau" okText="Ok" cancelText="Annuler" required [compareWith]="compareRef">
      <ion-option *ngFor="let niveau of niveaux" [value]="niveau">{{ niveau.nom }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Lieu :</ion-label>
    <ion-select [(ngModel)]="creneau.lieu" name="lieu" okText="Ok" cancelText="Annuler" required [compareWith]="compareRef">
      <ion-option *ngFor="let lieu of lieux" [value]="lieu">{{ lieu.nom }}</ion-option>
    </ion-select>
  </ion-item>
  <button ion-button [disabled]="!f.valid" type="submit" block>Modifier le créneau</button>
</form>
<button ion-button (click)="goback()" block>Retour</button>
