<ion-card>
  <ion-card-header>{{creneau.activite.nom}}</ion-card-header>
  <ion-card-content>
      <p>Niveau: {{creneau.niveau.niveau}}</p>
      <p>{{creneau.jour|dayOfWeek}}  /  {{creneau.heureDebut}} - {{creneau.heureFin}}</p>
      <p>Lieu: {{creneau.lieu.nom}} {{creneau.lieu.ville}}</p>
      <p>Responsable: {{creneau.responsable.nom}}</p>
        <button ion-button full icon-end color="danger" [disabled]="!ajoutable()" (click)="ajouter()" >Ajouter
          <ion-icon name="add"></ion-icon>
        </button>
  </ion-card-content>
</ion-card>
