<script src="../selectSuppressionSport/selectSuppressionSport.ts"></script>
<form #f="ngForm" (ngSubmit)="modificationActiviteForm()">
  <ion-item>
    <ion-label color="primary" floating>Nom activité :</ion-label>
    <ion-input *ngIf="activite" [(ngModel)]="activite.nom" name="nom" type="text" clearInput required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Concerne le sport :</ion-label>
    <ion-select [(ngModel)]="nouveauSport" name="sports" okText="Ok" cancelText="Annuler" multiple="true"
                [compareWith]="compareFn">
      <ion-option *ngFor="let s of sports" [value]="s">{{s.nom}}</ion-option>
    </ion-select>
  </ion-item>
  <button ion-button [disabled]="!f.valid" type="submit" block>Modifier l'activité</button>
</form>
<button ion-button (click)="goback()" block>Retour</button>
