<div>
	<form (ngSubmit)="creationCreneauForm()">
		<ion-item>
			<ion-label color="primary" floating>Activité : </ion-label>
				<ion-select [(ngModel)]="creationCreneau.nomActivite" name="nomActivite" okText="Ok" cancelText="Annuler" multiple="false">
					<ion-option *ngFor="let activite of listeActivite">{{ activite }}</ion-option>
				</ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary" floating>Responsable : </ion-label>
			<ion-select [(ngModel)]="creationCreneau.responsableCreneau" name="responsableCreneau" okText="Ok" cancelText="Annuler" multiple="true">
					<ion-option *ngFor="let responsable of listeResponsable">{{ responsable }}</ion-option>
				</ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary" floating>Jour : </ion-label>
			<ion-select [(ngModel)]="creationCreneau.jourCreneau" name="jourCreneau" okText="Ok" cancelText="Annuler" multiple="true">
					<ion-option *ngFor="let jour of listeJour">{{ jour }}</ion-option>
				</ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary" floating>Heure de début : </ion-label>
			<ion-datetime [(ngModel)]="creationCreneau.heureDebutCreneau" name="heureDebutCreneau" displayFormat="HH/mm"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label color="primary" floating>Heure de fin : </ion-label>
			<ion-datetime [(ngModel)]="creationCreneau.heureFinCreneau" name="heureFinCreneau" displayFormat="HH/mm"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label color="primary" floating>Effectif : </ion-label>
			<ion-input [(ngModel)]="creationCreneau.effectifCreneau" name="effectifCreneau" type="number"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" floating>Niveau : </ion-label>
			<ion-select [(ngModel)]="creationCreneau.niveauCreneau" name="niveauCreneau" okText="Ok" cancelText="Annuler" multiple="false">
					<ion-option *ngFor="let niveau of listeNiveau">{{ niveau }}</ion-option>
				</ion-select>
		</ion-item>
		<ion-item>
			<ion-label color="primary" floating>Lieu : </ion-label>
				<ion-select [(ngModel)]="creationCreneau.lieuCreneau" name="lieuCreneau" okText="Ok" cancelText="Annuler" multiple="false">
					<ion-option *ngFor="let lieu of listeLieu">{{ lieu }}</ion-option>
				</ion-select>
		</ion-item>
		<button ion-button type="submit" block>Créer le créneau</button>
	</form>
</div>
